.add_cust_btn{
    height: 35px;
    margin-right: 40px;
    background-color: rgb(124, 121, 121);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
}
.add_cust_btn:hover{
    background: white;
    color: black;
}
.create_cust_btn{
    width: 70px;
    height: 30px;
    background-color: rgb(124, 121, 121);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 22px;
    margin-bottom: 100px;
    text-align:center;
}
.create_cust_btn:hover{
    background: white;
    color: black;
}
 .edit_btn{
    position: fixed;
    bottom: 45px;
    right: 110px;
    height: 30px;
    background-color: rgb(124, 121, 121);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
} 
.edit_btn:hover{
    background: white;
    color: black;
    border: 1px solid rgb(124, 121, 121);
}

.delete_cust_btn{
    width: 70px;
    height: 30px;
    background-color: rgb(187, 69, 69);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 22px;
    margin-bottom: 100px;
    text-align:center;
}
.delete_cust_btn:hover{
    background: white;
    color: black;
    border: 1px solid rgb(187, 69, 69);
}
.save_btn{
    background-color: rgb(124, 121, 121);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 48%;
}
.save_btn:hover{
    background: white;
    color: black;
    border: 1px solid rgb(124, 121, 121);
}