header{
    position: fixed;
    background: #0EB1D2;
    height: 100px;
    width: 100vw;
    top:0px;
    display: flex;
    align-items: center;
    z-index: 1;
}
/*MAIN TEXT IN HEADER*/

.title{
    margin-left: 5vw;
    font-size: 30px;
    font-size: 3vw;
}