.cust_container{
    width: 55vw;
    height: 100vh;
    position: fixed;
    right: 5vw;
    background: white;
    margin-left: 20px;
    /* margin-right: 30px; */
    margin-top: 100px;
    text-align: center;
    box-shadow: 1px 6px 10px 10px rgba(0,0,0,0.27);
    display: flex;
    justify-content: center
}
.cust_info_box{
    width:50%;
    height: 370px;
    background: gray;
    margin-top: 20px;
    border-radius: 3px;
}
.cust_info_box > img{
    margin-top:10px;
    border-radius: 50%;
}
.cust_info_box div{
    box-sizing: border-box;
    margin-top:1px;
    font-size: 20px;
}